/* Header */
header {
    display: flex;
    justify-content: end;
    margin: 10px 30px;
}
header > h1 {
    font-family: 'Pacifico', cursive;
    font-size: 70px;
}

/* Carousel */
.carousel {
    margin: 10px auto;
}

/* Products section */
.btn-primary {
    border-radius: 19px;
    width: 100px;
}

.row {
    margin: auto;
}

.row > * {
    padding: 0px;
}

/* Zine catalogue section */
.overflow {
    overflow: auto;
    display: flex;
    gap: 30px;
}
