/* Header */
header {
    display: flex;
    justify-content: end;
    margin: 10px 30px;
}
header > h1 {
    font-family: 'Pacifico', cursive;
    font-size: 70px;
}

/* Carousel */
.carousel {
    border: 3px solid black;
    margin: 10px auto;
    width: 90%; 
}